KERNEL=="pinephone_keyboard", SUBSYSTEM=="module", RUN+="/usr/bin/loadkeys /usr/local/share/kbd/keymap/pine/ppkb.map", RUN+="/usr/bin/sh -c 'echo 1 > /sys/class/graphics/fbcon/rotate'"